server:
  port: 8705
  servlet:
    context-path: /analytic
spring:
  application:
    name: analytic-service
  kafka:
    bootstrap-servers: "localhost:9092"
    consumer:
      group-id: "1"
  datasource:
    url: jdbc:postgresql://localhost:5432/unicrmdb
    username: postgres
    password: Qwe123
    driver-class-name: org.postgresql.Driver
    hikari:
      schema: analytic_schema
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
#eureka:
#  instance:
#    hostname: localhost
#  client:
#    serviceUrl:
#      defaultZone: ${EUREKA_URI:http://localhost:8700/eureka}
#      fetchRegistry: false