<!DOCTYPE html>
<html >
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0" charset="UTF-8">
    <title>UniCRM</title>
    <link rel="icon" href="image/crm.png" type="image/png">
    <link rel="stylesheet" href="style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">

</head>

<div class="main-crm" ng-app="front" ng-controller="indexController">
    <div id="username-page">
        <div class="username-page-container">
            <h1 class="title">Авторизация</h1>
            <form id="usernameForm" name="usernameForm">
                <div class="form-group">
                    <input type="text" id="name" ng-model="user.username" placeholder="Введите логин"
                           class="form-control" autocomplete="off" required/>
                    <input type="password" id="password" ng-model="user.password" placeholder="Введите пароль"
                           class="form-control" autocomplete="off" required/>
                    <h6 id="errAuth">Авторизация не прошла.</h6>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="tryToAuth()">Вход</button>
                    <button type="submit" class="btn btn-primary" ng-click="registr()">Регистрация</button>
                </div>
            </form>
        </div>
    </div>
    <div id="username-page-reg">
        <div id="reg" class="username-page-container" >
            <h1 class="title">Регистрация</h1>
            <form class="form-create" >
                <div class="input-group mb-3">
                    <label  class="input-group-text">Имя</label>
                    <input type="text" class="form-control" placeholder="Имя" ng-model="new_user.firstName" autocomplete="off" required/>
                </div>
                <div class="input-group mb-3">
                    <label  class="input-group-text">Фамилия</label>
                    <input type="text" class="form-control" placeholder="Фамилия" ng-model="new_user.lastName" autocomplete="off" required/>
                </div>
                <div class="input-group mb-3">
                    <label  class="input-group-text">Пароль</label>
                    <input type="password" class="form-control" placeholder="Пароль" ng-model="new_user.password" autocomplete="off" required/>
                </div>
                <div class="input-group mb-3">
                    <label  class="input-group-text">Email</label>
                    <input type="email" class="input email" placeholder="mail@mail.ru" ng-model="new_user.email" autocomplete="off" required/>
                </div>
                <div>
                    <h6 id="err">Регистрация не прошла.</h6>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="tryToReg()">Отправить</button>
            </form>
        </div>
    </div>

    <ng-view></ng-view>

    <script src="index.js"></script>
    <script src="chat/chat.js"></script>
    <script src="adminpanel/adminpanel.js"></script>
    <script src="analytic/analytic.js"></script>
    <script src="mytasks/mytasks.js"></script>
    <script src="user/user.js"></script>
</div>
</html>