<div id="main-crm" ng-app="front" ng-controller="chatController">
  <div class="container-crm" >
    <nav class="panel-crm" >
          <div class="menu-crm 1">
              <div class="cell-crm" >
                  <button class="btn-bd-primary1" ></button>
                  <a class="nav-link  active" href="#!/mytasks"> Задачи </a>
              </div>
              <div  class="cell-crm">
                  <button class="btn-bd-primary1"></button>
                  <a class="nav-link" href="#!/chat"> Чат </a>
              </div>
              <div  class="cell-crm">
                  <button class="btn-bd-primary1">   </button>
                  <a class="nav-link" href="#!/user"> Пользователь </a>
              </div>
              <div  >
                  <button class="btn-bd-primary1"></button>
                  <a class="nav-link" href="#!/analytic"> Аналитика </a>
              </div>
              <div class="cell-crm">
                  <button class="btn-bd-primary1"></button>
                  <a class="nav-link" href="#!/adminpanel"> Администрирование </a>
              </div>
          </div>
      </nav>
    <div class="page-crm">
       <div class="header">
        <h2 class="title" style="text-align: center;">Чат</h2>
      </div>
       <div class="chat-content">
          <div id="chat-page1">
             <div class="chat-header">
                <div class="chat-box11" >
                    <input type="text" id="btn-user" value="" disabled class="form-control" align="center" />
                </div>
                <div  class="chat-box12">
                    <div style="width: 85%;">
                        <input type="text" id="nameRecipiend" value="" disabled class="form-control" align="center" />
                    </div>
                   <div>
                    <button id="btnCreate" class="btn btn-success" ng-click="createGroup()" type="button" disabled
                             data-bs-toggle="modal" data-bs-target="#createGroup">
                        Создать группу
                    </button>
                   </div>
                </div>
             </div>
          </div>
          <div id="chat-page" >
             <div class="chat-user" >
                <button id="btn-load-users" class="btn btn-success" type="button" ng-click="btnLoadUsers()" disabled >
                   Загрузить пользователей
                </button>
                <ul id="group"  >
                  <div class="groupli">
                    <li  ng-repeat="g in ligroup" class="green">
                      <button id="btn-all" type="button" class="btn btn-secondary position-relative" ng-click="btnGroup(g)" style="background: green;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                         <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                        </svg>
                        {{g.title}}
                        <span id="badgeGroup" class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                         <span class="visually-hidden"></span>
                        </span>
                      </button>
                    </li>
                  </div>
                </ul>
                <ul id="users" >
                  <div class="userli">
                    <li ng-repeat="u in liusers">
                      <button id="btn-users" type="button" class="btn btn-secondary position-relative" ng-click="btnUsers(u)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                         <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                        </svg>
                        {{u.nickName}}
                        <span id="badge" class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden"></span>
                        </span>
                      </button>
                    </li>
                  </div>
                </ul>

             </div>
             <div class="chat-container">
               <div class="connecting" style="visible: hidden;"></div>
               <ul id="messageArea">

               </ul>
               <form id="messageForm" name="messageForm" nameForm="messageForm">
                 <div class="form-group1">
                   <div class="input-group clearfix">
                       <div style="margin-right: 5px; width: calc(100% - 110px);">
                         <input type="text" id="message" width="" placeholder="Введите сообщение..."
                           autocomplete="off" class="form-control" />
                       </div>
                       <div>
                         <button id="send" type="submit" class="btn btn-secondary" ng-click="send()" >
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                             <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                           </svg>
                         </button>
                       </div>
                   </div>
                 </div>
               </form>
             </div>
          </div>
       </div>
    </div>
  </div>
    <div class="modal fade" id="createGroup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="title" style="text-align: center;">Новая группа</h5>
                </div>
                <div class="modal-body">
                    <form id="modChat1" novalidate ng-submit="createNewGroup()">
                        <div class="input-group mb-3">
                            <label for="newGroup" class="col-form-label">Название:</label>
                            <input type="text" class="form-control" id="newGroup" ng-model="new_Group.title">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Создать группу</button>
                        </div>
                    </form>
                    <div id="selNewUsers" class="input-group mb-3">
                        <label for="groups" class="col-form-label">Выберите группу:</label>
                        <select id="groups" class="form-control"  ng-model="groups" ></select>
                    </div>
                    <form id="modCha21" novalidate ng-submit="updateGroup()">
                        <div class="input-group mb-3">
                            <label for="updateGroup" class="col-form-label">Название:</label>
                            <input type="text" class="form-control" id="updateGroup" ng-model="put_group.title">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Изменить название группы</button>
                        </div>
                    </form>
                    <form id="modChat3" novalidate ng-submit="addNewUsers()" >
                        <div class="input-group mb-3">
                            <label for="groupUsers" class="col-form-label">Добавить членов группы:</label>
                            <select id="groupUsers" class="form-control"  ng-model="new_groupUsers.id" disabled multiple></select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Сохранить</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
